
.alert{
    position: absolute;
    background: white;
    padding: 20px;
    right: 50px;
    color: rgb(75, 75, 75);
    z-index: 10;
    font-weight: 600;
    border-radius: 5px;
    align-items: center;
    color: #01cbe6;
    transition: .3s;
    display: flex;
    font-size: 18px;
    box-shadow: 0px 0px 3px 3px rgb(231, 231, 231);
}

.alert svg{
    font-size: 20px;
    margin-left: 10px;
}